*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container_sign {
    padding-top: 1.2rem;
    margin: 0 auto;
    width: 100%;
}


#h1{
    margin: 20px;
    height: 51px;
    font-size:xx-large;
}

#h2{
    text-align: end;
    height: 40px;
    width: 1100px;
}

