nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
  }
  
  nav ul li {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin:5px 4px 36px 40px;
  }
  
  nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
  }
  
  nav ul li:hover {
    color: black;
  }
  
  nav ul li:hover span {
    transform: translateY(0) scale(2);
  }
  
  nav ul li span:nth-child(1) {
    --n: 1;
  }
  
  nav ul li span:nth-child(2) {
    --n: 2;
  }
  
  nav ul li span:nth-child(3) {
    --n: 3;
  }
  
  nav ul li span:nth-child(4) {
    --n: 4;
  } 
  
  #myDropdown a {
    display: block;
  }
  
  nav li div#myDropdown {
    position: fixed;
  }
  
  .fade {
    display: none;
  } 
  .allimg {
    width : 80% ;
    height : 70%;
     fill :  #868e96;
  }
  
  #b10{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: auto;
    text-align: center;
    border-radius: 40px;
    padding-bottom: 15px;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    
  }
  .adjust{
    border: dashed;
    border-color: steelblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:#f8f9fac2 ;
    text-align: center;
    padding-bottom: 15px;
    flex: 0 0 30%;
  }
  .chartbtn {
    border: none ; 
    padding:8px;
    display: inline-block;
    color: rgb(248, 248, 248) ;
    background-color: black;
    cursor: pointer;
    width:70%;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
  }
  .allimg
  {
    width : 100%;
  
  }
  *, ::after, ::before {
     box-sizing: content-box; 
  }
  .card{
  border-radius: 0;
  width: 18rem;
  
  }
  #b10{
   display: flex;
  
  }
  #c0{
    display: inline-block;
    
  
  }
  .w-100{
    width: 10rem ;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }