 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

nav ul li {
  --c: goldenrod;
  color: var(--c);
  font-size: 16px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin:5px 4px 36px 40px;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul li:hover {
  color: black;
}

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
} 

#myDropdown a {
  display: block;
  text-decoration: none;
  color:  #fff;
  text-shadow: 1px 2px 10px #333;
}

#myDropdown {
  position: fixed;
  width: 12em;
  right: 1041px;;
  border-bottom: 0.3em solid var(--c);
  border-left: 0.3em solid var(--c);
  border-right: 0.3em solid var(--c);
  border-radius: 0.5em;
}

.fade {
  display: none;
} 

<style>
        body{
            background-image: url('melek img/speed.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
          }
     </style> 
